<div class="bs-docs-section clearfix">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1 id="navbars">Add Cart..</h1>
      </div>
      <br>
      <div class="bs-component">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <a class="navbar-brand" href="#">Your Choice</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a routerLink="/theame-home" routerLinkActive="active" class="nav-link" href="#">Home <span class="sr-only"></span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Users</a>
              </li>
              <li class="nav-item">
                <a routerLink="/view-items"  routerLinkActive="active" class="nav-link" href="#">Add Order</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Delete</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Give feed-backs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"></a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
